{% extends "base.html" %}

<style>
{% block style %}
{% endblock %}
</style>

<script>
{% block script %}
{% endblock %}
</script>

{% block content %}
<h2>Login</h2>
<form method="post" action="{{get_url('index')}}">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input type="text" name="username" class="form-control" placeholder="Username" autofocus required />
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" name="password" class="form-control" placeholder="Password" required />
    </div>
    <div class="well">Not a member yet? <a href="{{get_url('register')}}">Register here</a>.</div>
    <input type="submit" class="btn btn-success" value="Login!" />
</form>
{% endblock %}
